*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Clr-Tomato: hsl(4, 100%, 67%);
  --Clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Clr-Charcoal-Grey: hsl(235, 18%, 26%);
  --Clr-Grey: hsl(231, 7%, 60%);
  --Clr-White: hsl(0, 0%, 100%);
  --Clr-Pink: rgb(255, 84, 112);
  --Clr-Pale-Pink: rgb(255, 231, 225);
  --Clr-Orange: rgb(255, 102, 0);
}

body {
  font-family: roboto, sans-serif;
  color: var(--Clr-Dark-Slate-Grey);
}

.visibly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.main-ilustration-img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.main-section {
  background-color: var(--Clr-White);
  display: flex;
  flex-direction: column;
}

.main-section.hide {
  display: none; /* js toggle */
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.main-content h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 25px 0px 24px 0px;
}

ul li {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 10px;
}

ul li img {
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email-input-container {
  width: 100%;
}

.email-input-label {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}

.error-msg {
  font-size: 12px;
  color: var(--Clr-Tomato);
  font-weight: 700;
  float: right;
  margin-top: 4px;
  display: none;
}

.error-msg.error {
  display: inline-block;
}

.email-input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding: 0px 20px;
  margin-bottom: 24px;
  border: 1px solid var(--Clr-Grey);
  outline: none;
}

.email-input:focus {
  border-color: var(--Clr-Dark-Slate-Grey);
}

.email-input.error {
  background-color: var(--Clr-Pale-Pink);
  border-color: var(--Clr-Tomato);
  color: var(--Clr-Tomato);                    /* js class toggle*/ 
}

.subscribe-btn,
.dismiss-btn {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--Clr-White);
  background-color: var(--Clr-Dark-Slate-Grey);
}

.subscribe-btn {
  margin-bottom: 14px;
}

.subscribe-btn:hover,
.dismiss-btn:hover {
  background: linear-gradient(to right, var(--Clr-Pink) 40%, var(--Clr-Orange));
  box-shadow: 0px 16px 22px 5px rgba(255, 84, 112, 0.3);
}

.success-card {
  padding: 150px 24px 40px 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  display: none;

  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.success-card.visible {
  display: flex; /* js class toggle*/
}

.success-card h2 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 36px;
  margin-bottom: 30px;
  background-color: var(--Clr-White);
}

.success-card p span {
  font-weight: 700;
}

.dismiss-btn {
  margin-top: auto;
}

@media only screen and (min-width: 900px) {
  body {
    background-color: var(--Clr-Charcoal-Grey);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-section {
    flex-direction: row-reverse;
    border-radius: 36px;
    padding: 24px;
    max-width: 930px;
  }

  .main-ilustration-img {
    max-height: none;
  }

  .main-content {
    padding: 0px 64px 0px 40px;
    justify-content: center;
    flex: 1;
  }

  .main-content h2 {
    font-size: 56px;
  }

  .success-card {
    background-color: var(--Clr-White);
    min-height: 0;
    padding: 50px 64px 64px 64px;
    max-width: 504px;
    border-radius: 32px;
  }

  .success-card h2 {
    font-size: 56px;
    line-height: 56px;
  }

  .success-card p {
    margin-bottom: 36px;
  }

  .dismiss-btn {
    margin-top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
