/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --Clr-Tomato: hsl(4, 100%, 67%);
    --Clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Clr-Charcoal-Grey: hsl(235, 18%, 26%);
    --Clr-Grey: hsl(231, 7%, 60%);
    --Clr-White: hsl(0, 0%, 100%);
}

body {
    font-family: roboto, sans-serif;
    color: var(--Clr-Dark-Slate-Grey);
}

.visibly-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main-ilustration-img {
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

.main-section {
    display: block;                             /* main section display block */
    background-color: var(--Clr-White);   
    border-radius: 16px;
               
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
}

.main-content h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 22px 0px;
}

ul li {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 12px;
}

ul li img {
    display: inline-block;
}

.form {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
}

.email-input-label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 6px;
}

.email-input {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    padding: 0px 20px;
    margin-bottom: 24px;
    border: 1px solid var(--Clr-Grey);
}

.subscribe-btn,
.dismiss-btn {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--Clr-White);
    background-color: var(--Clr-Charcoal-Grey);
}

.subscribe-btn:hover,
.dismiss-btn:hover {
    background: linear-gradient(to right, rgb(255, 65, 96), var(--Clr-Tomato));
}

.submited-section {
    padding: 150px 24px 40px 24px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    display: none;                                            /*submited section display flex*/
}

.submited-section h2 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 36px;
    margin-bottom: 30px;
    background-color: var(--Clr-White);
}

.submited-section p {
    font-size: 15px;
}

.submited-section p span {
    font-weight: 700;
}

.dismiss-btn {
    margin-top: auto;
}

@media only screen and (min-width: 600px) {
   body {
    background-color: var(--Clr-Charcoal-Grey);
    display: flex;
    justify-content: center;
    align-items: center;
   }
}